/* Webpixels CSS */
/* Utility and component-centric Design System based on Bootstrap for fast, responsive UI development */
/* URL: https://github.com/webpixels/css */

@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);

/* Bootstrap Icons */
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");

@font-face {
    font-family: 'Zaptron';
    font-weight: normal;
    font-style: normal;
    src: url('../font/Zaptron-Regular.woff2') format('woff2'),
        url('../font/Zaptron-Regular.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
        url('../font/Zaptron-Regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

.nav-local-item:hover > *{
    color: black !important;
}

.login-heading{
    color: black !important;
}


/* Timer CSS */

/* general styling */
:root {
    --smaller: .75;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body > .container-local {
    height: 100%;
    margin: 0;
}

body > .container-local{
    align-items: center;
    display: flex;
    font-family: -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen-Sans,
        Ubuntu,
        Cantarell,
        "Helvetica Neue",
        sans-serif;
}

.container-local {
    color: #333;
    margin: 0 auto;
    text-align: center;
    margin-top: 2rem;
}

#headline-local{
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
}

#headline-local-mobile {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
}

.li-local{
    display: inline-block;
    font-size: 1.2em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

.li-local span {
    display: block;
    font-size: 2.3rem;
    font-weight: 500;
}

.temp-mobile-login {
    padding-right: 1rem !important;
}

@media all and (max-width: 768px) {
    #headline-local {
        font-size: calc(1.5rem * var(--smaller));
    }

    .li-local {
        font-size: calc(1.125rem * var(--smaller));
    }

    .li-local span {
        font-size: calc(3.375rem * var(--smaller));
    }
}

/* End timer CSS */


/* Do not display content on small screen. Show a message to load on a bigger screen */
@media screen and (max-width: 1239px) {
    body{
        background-color: black !important;
    }
    #top-local{
        display: none !important;
    }
    #top-local-mobile{
        display: block !important;
    }
}

/* gradients bg animation */
.gradient-main-local {
    background: linear-gradient(-45deg, #ff85b4, #83deff);
    background-size: 150% 150%;
    animation: gradient-bg 15s ease infinite;
}

@keyframes gradient-bg {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}